
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --red:hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --dark-blue: hsl(234, 12%, 34%);
  --grayish-blue:hsl(229, 6%, 66%);
  --light-gray:hsl(0, 0%, 98%);
}

body {
  background-color: var(--light-gray);
  font-family: "Poppins", sans-serif;

}

header {
 text-align: center;
 width: 38%;
 margin: 40px auto;

}

header .title {
  color: var(--dark-blue);
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 0;
}

header .subtitle {
  color: var(--dark-blue);
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
}

header .description {
  color: var(--grayish-blue);
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;

}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  gap: 15px;
}


.cards > div {

  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 340px;
  max-width: 340px;
  height: 240px;

}

.vertical-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.vertical-cards > div {
  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
  width: 340px;
  height: 240px;

}

hr {
  margin-top: 2px;
  
  border-top: 4px solid
  
}

.supervisor > hr {
  border-color: var(--cyan);
}
.teambuilder > hr {
  border-color: var(--red);
}

.karma > hr {
  border-color: var(--orange);
}

.calculator > hr {
  border-color: var(--blue);
}

.card-content {
  padding: 15px 35px;
  display: flex;
  flex-direction: column;
}

.card-title {
  color: var(--dark-blue);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3px;
}

.card-description {
  font-size: 12px;
  font-weight: 400;
  color: var(--grayish-blue);
}

img {
  margin-top: 15px;
  align-self: end;
}


@media (min-width:768px) {


  .cards {
    flex-direction: row;
    justify-content: center;
  }
  
}